/* This is the file, "fonts.css." */
@font-face {
   font-family:'Montserrat';
   src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
   font-style: normal;
}
@font-face {
   font-family: 'Montserrat' ; 
   src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype') ;
   font-weight: 600;
}

@font-face {
   font-family: 'OpenSans' ;
   src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
   font-style: normal;
}
@font-face {
   font-family: 'OpenSans' ;
   src:url('../fonts/OpenSans-Bold.ttf') format('truetype');
   font-weight: 700;
}